# List

In [ ]:
Nikki = [1, 5, 6.9, 'Ankita', 'Shristi', False]
print(Nikki)

print(Nikki[3])

Nikki[1] = "Nuskie"
print(Nikki)

print(Nikki[3: ])

***List Methods***

In [ ]:
l1 = [3, 5, 76, 34, 99, 34, 23, 67, 45]

# l1.sort()       # It sorts list in ascending order
print(l1)

l1.reverse()    # It reverses the list
print(l1)

l1.append(55)     # append means add at end
print(l1)

l1.pop(2)     # item from third position is deleted
print(l1)

l1.remove(3)   # item from fourth position is removed
print(l1)

In [ ]:
# List of 4 fruits entered by user

f1 = input("Enter name of fruit no_1 : ")
f2 = input("Enter name of fruit no_2 : ")
f3 = input("Enter name of fruit no_3 : ")
f4 = input("Enter name of fruit no_4 : ")

FruitList = [f1,f2,f3,f4]
print(FruitList)

# List can have repeted list

In [ ]:
# Accept marks of 6 student and print in sorted manner

m1 = int(input("Enter marks of student no_1 : "))
m2 = int(input("Enter marks of student no_2 : "))
m3 = int(input("Enter marks of student no_3 : "))
m4 = int(input("Enter marks of student no_4 : "))

Marks = [m1,m2,m3,m4]
Marks.sort()
print(Marks)

In [ ]:
#LIST SUM

a = [1,2,3,4,5,]
print(a[0]+a[1]+a[2]+a[3]+a[4])
print(sum(a))

In [ ]:
#LIST COUNT

a = [7,0,8,0,0,9]
print(a.count(0))

# TUPLE

In [ ]:
# Creating a tuple with ()      
Nikki = (1, 2, 3, 4, 5, 6)     
print(Nikki[0])

# Tuple cannot be updated but list can 
Nikki[0] = 35

# Creating empty tuple
Nikki = ()
print(Nikki)

# Creating tuple with one element
Nikki = (2,)       # don't forget comma
print(Nikki)

In [ ]:
#TUPLE METHODS

Nikki = (1, 2, 3, 4, 5, 6,2,2)
print(Nikki.count(2))          # Counts how many times 2 has been repeated

print(Nikki.index(3))    # Searches where does 3 lie